#!/bin/ksh
# @(#) $Revision: 70.1 $
#
fileset=ACCOUNTNG
exitval=0

. /system/UX-CORE/custom_utils
custom_setup "$1"
CDF=`getCDF $1`
newconfig=/etc/newconfig$CDF

#======
# Remove any fileset related information for an obsolted fileset
#======
fileset_obsolete $1

#======
# Configuration (customizable) files.
# Copy them from $newconfig if they do not already exist
# or were not customized.
#======
cksum_cp $newconfig/holidays /usr/lib/acct/holidays "32579 1" \
	"32382 1"

exit $exitval
