#!/bin/ksh
# @(#) $Revision: 66.2 $
#
fileset=AUDIT
exitval=0

. /system/UX-CORE/custom_utils
custom_setup "$1"
CDF=`getCDF $1`
newconfig=/etc/newconfig$CDF

#======
# Remove any fileset related information for an obsolted fileset
#======
fileset_obsolete $1

#======
# Configuration (customizable) files.
# Copy them from $newconfig if they dont already exist
# or were not customized.
#======
cksum_cp $newconfig/auditrc /etc/auditrc "27222 11"

exit $exitval
